<section class="m-b-8 m-b-lg-9 p-t-lg-9">
  <div class="row">
    <div
      class="col-12-col-md-6 d-flex align-items-center justify-content-between"
    >
      <img
        src="./images/section-certification.png"
        alt="imagen de tres personas"
      />
    </div>
    <div
      class="col-12-col-md-6 d-flex align-items-center justify-content-between"
    >
      <h2 class="text-center m-b-4">Certificación y validación</h2>
      <p class="text-tertiary">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam.
      </p>
      <div class="d-flex align-items-center">
        <img
          src="./images/certificacion-1.png"
          alt="logo de Equal Employment Oportunity Comission"
        /><img
          src="./images/certificacion-2.png"
          alt="logo de American Institute of Business Pschology"
        /><img
          src="./images/certificacion-3.png"
          alt="lo de 2E estudios y evaluaciones"
        />
      </div>
    </div>
  </div>
   <button
          class="btn btn-solid"
          type="button"
          aria-label="Ver más sobre este tema"
        >
          <span aria-hidden="true">Enviar reporte</span>
        </button>
      </div>
</section>
