<nav class="navbar">
  <div class="container-fluid col-lg-10 px-4 px-lg-5">
    <div class="navbar-brand">
      <img src="./images/uala-logo.png" alt="logo de uala" />
    </div>
    <div class="navbar-brand pda ms-auto me-lg-4">
      <svg height="100%">
        <use xlink:href="./images/logo-pda.svg#logoPDA" />
      </svg>
    </div>
    <button
      class="btn burger"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
    >
      <svg height="100%">
        <use xlink:href="./images/icons/burger.svg#burger-icon" />
      </svg>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
