<section class="m-b-8 m-b-lg-9 p-t-9">
  <div class="row">
    <div class="col-12 col-md-6 col-xl-6 m-b-10 mb-lg-0 pb-lg-0">
      <h4 class="text-center text-md-start m-b-8 m-b-md-9 m-t-md-2">
        Tendencias de Comportamiento
      </h4>
      <div class="bg-white rounded-2 shadow p-4">
        <div
          class="accordion accordion-flush accordion-tendencias"
          id="accordionTendenciaOne"
        >
          <div class="accordion-item">
            <h5 class="accordion-header">
              <button
                class="accordion-button collapsed px-0 p-b-3"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#tendenciaOne"
                aria-expanded="false"
                aria-controls="tendenciaOne"
              >
                Seguimiento de normas y política
              </button>
            </h5>
            <div class="bar">
              <div class="text justify-content-between fs-19">
                <span>Menor Esfuerzo</span>
                <span>Mayor Esfuerzo</span>
              </div>
              <div class="line"></div>
            </div>

            <div
              id="tendenciaOne"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionTendenciaOne"
            >
              <div class="accordion-body text-terciary">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
                sunt voluptatem autem in corporis vero repudiandae fugit, nisi
                laborum ullam!
              </div>
            </div>
          </div>
        </div>
        <div
          class="accordion accordion-flush accordion-tendencias"
          id="accordionTendenciaTwo"
        >
          <div class="accordion-item">
            <h5 class="accordion-header">
              <button
                class="accordion-button collapsed px-0 p-b-3"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#tendenciaTwo"
                aria-expanded="false"
                aria-controls="tendenciaTwo"
              >
                Seguimiento de normas y política
              </button>
            </h5>
            <div class="bar">
              <div class="text justify-content-between fs-19">
                <span>Menor Esfuerzo</span>
                <span>Mayor Esfuerzo</span>
              </div>
              <div class="line"></div>
            </div>

            <div
              id="tendenciaTwo"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionTendenciaTwo"
            >
              <div class="accordion-body text-terciary">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
                sunt voluptatem autem in corporis vero repudiandae fugit, nisi
                laborum ullam!
              </div>
            </div>
          </div>
        </div>
        <div
          class="accordion accordion-flush accordion-tendencias"
          id="accordionTendenciaThree"
        >
          <div class="accordion-item">
            <h5 class="accordion-header">
              <button
                class="accordion-button collapsed px-0 p-b-3"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#tendenciaThree"
                aria-expanded="false"
                aria-controls="tendenciaThree"
              >
                Seguimiento de normas y política
              </button>
            </h5>
            <div class="bar">
              <div class="text justify-content-between fs-19">
                <span>Menor Esfuerzo</span>
                <span>Mayor Esfuerzo</span>
              </div>
              <div class="line"></div>
            </div>

            <div
              id="tendenciaThree"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionTendenciaThree"
            >
              <div class="accordion-body text-terciary">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
                sunt voluptatem autem in corporis vero repudiandae fugit, nisi
                laborum ullam!
              </div>
            </div>
          </div>
        </div>
        <div
          class="accordion accordion-flush accordion-tendencias"
          id="accordionTendenciaFour"
        >
          <div class="accordion-item">
            <h5 class="accordion-header">
              <button
                class="accordion-button collapsed px-0 p-b-3"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#tendenciaFour"
                aria-expanded="false"
                aria-controls="tendenciaFour"
              >
                Seguimiento de normas y política
              </button>
            </h5>
            <div class="bar">
              <div class="text justify-content-between fs-19">
                <span>Menor Esfuerzo</span>
                <span>Mayor Esfuerzo</span>
              </div>
              <div class="line"></div>
            </div>

            <div
              id="tendenciaFour"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionTendenciaFour"
            >
              <div class="accordion-body text-terciary">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
                sunt voluptatem autem in corporis vero repudiandae fugit, nisi
                laborum ullam!
              </div>
            </div>
          </div>
        </div>
        <div
          class="accordion accordion-flush accordion-tendencias"
          id="accordionTendenciaFive"
        >
          <div class="accordion-item">
            <h5 class="accordion-header">
              <button
                class="accordion-button collapsed px-0 p-b-3"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#tendenciaFive"
                aria-expanded="false"
                aria-controls="tendenciaFive"
              >
                Seguimiento de normas y política
              </button>
            </h5>
            <div class="bar">
              <div class="text justify-content-between fs-19">
                <span>Menor Esfuerzo</span>
                <span>Mayor Esfuerzo</span>
              </div>
              <div class="line"></div>
            </div>

            <div
              id="tendenciaFive"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionTendenciaFive"
            >
              <div class="accordion-body text-terciary">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
                sunt voluptatem autem in corporis vero repudiandae fugit, nisi
                laborum ullam!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="col-12 col-md-6 col-xl-5 offset-xl-1 m-b-10 p-t-9 mb-lg-0 pt-md-0"
    >
      <div class="d-flex align-items-center m-b-8">
        <img src="./images/icons/sphere.svg" alt="" class="me-3" />
        <h4 class="text-center text-md-start mb-0">Plan de desarrollo</h4>
      </div>
      <div class="bg-white rounded-2 shadow p-4">
        <p class="text-terciary">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <ul class="text-terciary desarrollo">
          <li>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus
            deserunt odio molestiae quibusdam dolorum, magni ullam molestias
            pariatur unde eligendi.
          </li>
          <li>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus
            deserunt odio molestiae quibusdam dolorum, magni ullam molestias
            pariatur unde eligendi.
          </li>
          <li>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus
            deserunt odio molestiae quibusdam dolorum, magni ullam molestias
            pariatur unde eligendi.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
