<section class="m-b-8 m-b-lg-9 p-t-9">
  <div class="col-12 col-lg-6">
    <hgroup class="m-b-6">
      <h6 class="mb-0">Eres una persona</h6>
      <h2 class="text-primary">Innovadora</h2>
    </hgroup>
  </div>
  <div class="row g-5">
    <div class="col-12 col-lg-6 ps-lg-0">
      <div class="row d-flex flex-column flex-lg-row align-items-center">
        <div class="col-12 col-md-4">
          <ul class="p-l-0 p-l-md-3">
            <li class="p-0 text-primary fs-19 fw-bold m-b-4 m-b-md-6">
              <img
                src="./images/icons/check.svg"
                class="m-r-2"
                alt=""
              />Extrovertido
            </li>
            <li class="p-0 text-primary fs-19 fw-bold m-b-4 m-b-md-6">
              <img src="./images/icons/check.svg" class="m-r-2" alt="" />Cálido
            </li>
            <li class="p-0 text-primary fs-19 fw-bold m-b-4 m-b-md-6">
              <img
                src="./images/icons/check.svg"
                class="m-r-2"
                alt=""
              />Independiente
            </li>
            <li class="p-0 text-primary fs-19 fw-bold m-b-4 m-b-md-6">
              <img
                src="./images/icons/check.svg"
                class="m-r-2"
                alt=""
              />Amistoso
            </li>
            <li class="p-0 text-primary fs-19 fw-bold m-b-4 m-b-md-6">
              <img src="./images/icons/check.svg" class="m-r-2" alt="" />Gentil
            </li>
          </ul>
        </div>
        <div class="col">
          <embed src="./images/animated.svg" type="image/svg+xml" />
        </div>
      </div>

      <div class="m-b-11 p-t-md-11 d-flex flex-column align-items-start">
        <div class="d-flex align-items-center m-b-6">
          <img src="./images/icons/sphere.svg" alt="" class="me-3" />
          <h4 class="text-center text-md-start mb-0">Plan de desarrollo</h4>
        </div>
        <p class="m-b-6 m-b-lg-8">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad natus in
          distinctio itaque non, laboriosam soluta quos sapiente, facilis harum
          porro autem nobis quas laborum quia, cumque explicabo sunt odio!
        </p>
        <button
          class="btn btn-outline-primary align-self-end"
          type="button"
          aria-label="Ver más sobre este tema"
        >
          <span aria-hidden="true">Ver más</span>
          <svg width="24" height="24" viewBox="0 0 24 24">
            <use xlink:href="./images/icons/arrow-button.svg#arrow-right" />
          </svg>
        </button>
      </div>
      <div class="m-b-11 p-t-md-11 d-flex flex-column align-items-start">
        <div class="d-flex align-items-center m-b-6">
          <img src="./images/icons/sphere.svg" alt="" class="me-3" />
          <h4 class="text-center text-md-start mb-0">
            Despliegue de potencial
          </h4>
        </div>
        <p class="m-b-6 m-b-lg-8">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad natus in
          distinctio itaque non, laboriosam soluta quos sapiente, facilis harum
          porro autem nobis quas laborum quia, cumque explicabo sunt odio!
        </p>
        <button
          class="btn btn-outline-primary align-self-end"
          type="button"
          aria-label="Ver más sobre este tema"
        >
          <span aria-hidden="true">Ver más</span>
          <svg width="24" height="24" viewBox="0 0 24 24">
            <use xlink:href="./images/icons/arrow-button.svg#arrow-right" />
          </svg>
        </button>
      </div>
      <div class="m-b-11 p-t-md-11 d-flex flex-column align-items-start">
        <div class="d-flex align-items-center m-b-6">
          <img src="./images/icons/sphere.svg" alt="" class="me-3" />
          <h4 class="text-center text-md-start mb-0">Estilo de comunicación</h4>
        </div>
        <p class="m-b-6 m-b-lg-8">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad natus in
          distinctio itaque non, laboriosam soluta quos sapiente, facilis harum
          porro autem nobis quas laborum quia, cumque explicabo sunt odio!
        </p>
        <button
          class="btn btn-outline-primary align-self-end"
          type="button"
          aria-label="Ver más sobre este tema"
        >
          <span aria-hidden="true">Ver más</span>
          <svg width="24" height="24" viewBox="0 0 24 24">
            <use xlink:href="./images/icons/arrow-button.svg#arrow-right" />
          </svg>
        </button>
      </div>
    </div>
    <div class="col-12 col-lg-6 pe-lg-0">
      <div class="m-b-11 d-flex flex-column align-items-start">
        <div class="d-flex align-items-center m-b-6">
          <img src="./images/icons/sphere.svg" alt="" class="me-3" />
          <h4 class="text-center text-md-start mb-0">
            Descripción de Perfil Natural
          </h4>
        </div>
        <p class="m-b-6 m-b-lg-8">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad natus in
          distinctio itaque non, laboriosam soluta quos sapiente, facilis harum
          porro autem nobis quas laborum quia, cumque explicabo sunt odio!
        </p>
        <button
          class="btn btn-outline-primary align-self-end"
          type="button"
          aria-label="Ver más sobre este tema"
        >
          <span aria-hidden="true">Ver más</span>
          <svg width="24" height="24" viewBox="0 0 24 24">
            <use xlink:href="./images/icons/arrow-button.svg#arrow-right" />
          </svg>
        </button>
      </div>
      <div class="m-b-11 p-t-md-11 d-flex flex-column align-items-start">
        <div class="d-flex align-items-center m-b-6">
          <img src="./images/icons/sphere.svg" alt="" class="me-3" />
          <h4 class="text-center text-md-start mb-0">Inteligencia emocional</h4>
        </div>
        <p class="m-b-6 m-b-lg-8">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad natus in
          distinctio itaque non, laboriosam soluta quos sapiente, facilis harum
          porro autem nobis quas laborum quia, cumque explicabo sunt odio!
        </p>
        <button
          class="btn btn-outline-primary align-self-end"
          type="button"
          aria-label="Ver más sobre este tema"
        >
          <span aria-hidden="true">Ver más</span>
          <svg width="24" height="24" viewBox="0 0 24 24">
            <use xlink:href="./images/icons/arrow-button.svg#arrow-right" />
          </svg>
        </button>
      </div>
      <div class="m-b-11 p-t-md-11 d-flex flex-column">
        <h4 class="text-center m-b-6">
          Puntos que podrían convertirse en limitaciones
        </h4>
        <div class="bg-white shadow rounded-3 p-5 w-100">
          <div class="splide" id="limitaciones">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide text-center">
                  <h2 class="text-primary text-center">1</h2>
                  <p class="text-center fs-small px-4">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Voluptatibus, consequuntur.
                  </p>
                </li>
                <li class="splide__slide text-center">
                  <h2 class="text-primary text-center">2</h2>
                  <p class="text-center fs-small px-4">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Voluptatibus, consequuntur.
                  </p>
                </li>
                <li class="splide__slide text-center">
                  <h2 class="text-primary text-center">3</h2>
                  <p class="text-center fs-small px-4">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Voluptatibus, consequuntur.
                  </p>
                </li>
                <li class="splide__slide text-center">
                  <h2 class="text-primary text-center">4</h2>
                  <p class="text-center fs-small px-4">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Voluptatibus, consequuntur.
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="m-b-11 p-t-md-11 d-flex flex-column align-items-start">
        <div class="d-flex align-items-center m-b-6">
          <img src="./images/icons/sphere.svg" alt="" class="me-3" />
          <h4 class="text-center text-md-start mb-0">
            ¿Cómo liderar a la persona?
          </h4>
        </div>
        <p class="m-b-6 m-b-lg-8">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad natus in
          distinctio itaque non, laboriosam soluta quos sapiente, facilis harum
          porro autem nobis quas laborum quia, cumque explicabo sunt odio!
        </p>
        <button
          class="btn btn-outline-primary align-self-end"
          type="button"
          aria-label="Ver más sobre este tema"
        >
          <span aria-hidden="true">Ver más</span>
          <svg width="24" height="24" viewBox="0 0 24 24">
            <use xlink:href="./images/icons/arrow-button.svg#arrow-right" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
