<section class="m-b-8 m-b-lg-9 p-t-9">
  <div class="text-center text-md-start col-12 col-md-6">
    <h4>Competencias</h4>
    <p class="fs-19 text-terciary mb-4 text-justify" id="user-competencias">
      Tiene una marcada tendencia hacia la especialización. Es altamente
      confiable, muy disciplinado y preciso.
    </p>
  </div>
  <div class="competencias">
    <div class="splide" id="carousel">
      <div class="splide__track">
        <ul class="splide__list"></ul>
      </div>
    </div>
  </div>
</section>
